<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDo12GFtg1h8Ze_mnXMsrIUwPH45rJpYKE</string>
	<key>GCM_SENDER_ID</key>
	<string>1022568899950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codemina.apps.lumenta</string>
	<key>PROJECT_ID</key>
	<string>engageflow-490817</string>
	<key>STORAGE_BUCKET</key>
	<string>engageflow-490817.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022568899950:ios:3034b39ba592d704330d7f</string>
</dict>
</plist>